<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tustar.qyz">

    <application>
        <!-- 三国群英传 -->
        <activity android:name=".QyzMainActivity" />
        <activity android:name=".QyzPaletteActivity" />
        <activity android:name=".QyzTintingActivity" />
        <activity android:name=".QyzClippingActivity" />
        <activity android:name=".QyzElevationActivity" />
        <activity android:name=".QyzAnimMainActivity" />
        <activity android:name=".QyzAnimTransitionsActivity" />
        <activity android:name=".QyzFlexibleListViewActivity" />
        <activity android:name=".QyzOverScrollGridViewActivity" />
        <activity
            android:name=".QyzRotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".QyzSurfaceViewActivity" />
        <activity android:name=".QyzSvgActivity" />
        <activity android:name=".QyzCustomWidgetActivity" />
        <activity android:name=".QyzCustomWidgetShowActivity" />
        <activity android:name=".dragview.QyzDragViewActivity" />
        <activity android:name=".dragview.QyzDragViewShowActivity" />
        <activity android:name=".dragview.QyzDragViewGroupActivity" />
    </application>
</manifest>
