<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tustar.weather">

    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--获取网络状态，用于在线算路与离线算路之间的切换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问WIFI网络状态，用于判断网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于离线数据的写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 后台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xSosNwzAhtzaHdBNZXxmD1a265s5d6aC" />
    </application>
</manifest>

