<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tustar.demo"
          android:versionCode="0006"
          android:versionName="1.0.0006">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.tustar.PROVIDER"/>

    <application
        android:name=".TuApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- RecyclerView实例 -->
        <activity android:name=".module.recycler.RecyclerViewActivity"/>

        <!-- 可拖动ListView实例 -->
        <activity android:name=".module.dragsortlistview.DragSortListViewActivity"/>

        <!-- Loader实例 -->
        <activity android:name=".module.loader.LoaderActivity"/>

        <!-- 账号管理 -->
        <activity android:name=".module.account.AccountActivity"/>

        <!-- 动画模块 -->
        <activity android:name=".module.anim.viewanim.ViewAnimActivity"/>
        <activity android:name=".module.anim.viewanim.HideActionBarActivity"/>

        <!-- 拖动View -->
        <activity android:name=".module.dragview.DragViewActivity"/>
        <activity android:name=".module.dragview.DragViewShowActivity"/>
        <activity android:name=".module.dragview.DragViewGroupActivity"/>

        <!-- 信号监听 -->
        <activity android:name=".module.signal.FloatWindowActivity"/>

        <service android:name=".module.signal.PhoneStateService"/>

        <!-- 控件实例 -->
        <activity android:name=".module.customwidget.CustomWidgetActivity"/>
        <activity android:name=".module.customwidget.CustomWidgetShowActivity"/>
        <activity
            android:name=".module.customwidget.HistoryActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"/>

        <!-- Service实例 -->
        <activity android:name=".module.service.ServiceActivity"/>

        <service
            android:name=".module.service.DemoService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.tustar.demo.AIDL"/>
            </intent-filter>
        </service>
        <service
            android:name=".module.service.DemoIntentService"
            android:exported="false"/>

        <!-- Provider实例 -->
        <provider
            android:name=".module.deskclock.provider.HistoryProvider"
            android:authorities="com.tustar.demo"
            android:exported="false"/>

        <activity android:name=".module.provider.ProviderActivity"/>

        <!-- Scroller实例 -->
        <activity android:name=".module.scroller.ScrollerActivity"/>
        <activity android:name=".module.scroller.OnePointerDrawViewActivity"/>
        <activity android:name=".module.scroller.TwoPointerDrawViewActivity"/>
        <activity android:name=".module.scroller.HOverScrollViewActivity"/>
        <activity android:name=".module.scroller.HScrollViewActivity"/>
        <activity android:name=".module.scroller.other.OtherOnePointerDrawViewActivity"/>
        <activity android:name=".module.scroller.other.OtherTwoPointerDrawViewActivity"/>
        <activity android:name=".module.scroller.other.OtherHScrollViewActivity"/>
        <activity android:name=".module.scroller.other.OtherHOverScrollViewActivity"/>

        <!-- 时钟实例 -->
        <activity android:name=".module.deskclock.DeskClockActivity"/>
        <activity android:name=".module.deskclock.SubScaleViewActivity">
        </activity>

        <!-- 三国群英传 -->
        <activity android:name=".module.qyz.QyzMainActivity">
        </activity>
        <activity
            android:name=".module.qyz.QyzPaletteActivity"
            android:label="@string/title_activity_palette"/>
        <activity android:name=".module.qyz.QyzTintingActivity"/>
        <activity android:name=".module.qyz.QyzClippingActivity"/>
        <activity android:name=".module.qyz.QyzElevationActivity"/>
        <activity android:name=".module.qyz.QyzAnimMainActivity"/>
        <activity android:name=".module.qyz.QyzAnimTransitionsActivity"/>
        <activity android:name=".module.qyz.QyzFlexibleListViewActivity"/>
        <activity android:name=".module.qyz.QyzOverScrollGridViewActivity"/>
        <activity
            android:name=".module.qyz.QyzRotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".module.qyz.QyzSurfaceViewActivity"/>
        <activity android:name=".module.qyz.QyzSvgActivity"/>

        <!-- Android开发艺术探索 -->
        <activity android:name=".module.ryg.RygMainActivity"/>
        <!-- Ryg.ch1 -->
        <activity android:name=".module.ryg.ch1.RygCh1Activity">
        </activity>
        <!-- Ryg.ch2 -->
        <activity android:name=".module.ryg.ch2.RygOneActivity">
        </activity>
        <activity
            android:name=".module.ryg.ch2.RygSecondActivity"
            android:process=":remote">
        </activity>
        <activity
            android:name=".module.ryg.ch2.RygThirdActivity"
            android:process="com.tustar.demo.remote">
        </activity>
        <activity android:name=".module.ryg.ch2.provider.RygProviderActivity">
        </activity>

        <service
            android:name=".module.ryg.ch2.messenger.MessengerService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.tustar.MessengerService.launch"/>
            </intent-filter>
        </service>

        <activity android:name=".module.ryg.ch2.aidl.BookManagerActivity">
        </activity>
        <service
            android:name=".module.ryg.ch2.aidl.BookManagerService"
            android:process=":remote">
        </service>

        <provider
            android:name=".module.ryg.ch2.provider.BookProvider"
            android:authorities="com.tustar.demo.module.ryg.ch2.provider"
            android:permission="com.tustar.PROVIDER"
            android:process=":provider"/>

        <activity android:name=".module.ryg.ch2.messenger.MessengerActivity">
        </activity>

        <activity android:name=".module.ryg.ch2.RygCh2Activity">
        </activity>
        <activity android:name=".module.ryg.ch3.RygCh3Activity">
        </activity>
        <activity android:name=".module.ryg.ch4.RygCh4Activity">
        </activity>
        <activity android:name=".module.ryg.ch5.RygCh5Activity">
        </activity>
        <activity android:name=".module.ryg.ch6.RygCh6Activity">
        </activity>
        <activity android:name=".module.ryg.ch7.RygCh7Activity">
        </activity>
        <activity android:name=".module.ryg.ch8.RygCh8Activity">
        </activity>
        <activity android:name=".module.ryg.ch9.RygCh9Activity">
        </activity>
        <activity android:name=".module.ryg.ch10.RygCh10Activity">
        </activity>
        <activity android:name=".module.ryg.ch11.RygCh11Activity">
        </activity>
        <activity android:name=".module.ryg.ch12.RygCh12Activity">
        </activity>
        <activity android:name=".module.ryg.ch13.RygCh13Activity">
        </activity>
        <activity android:name=".module.ryg.ch14.RygCh14Activity">
        </activity>
        <activity android:name=".module.ryg.ch15.RygCh15Activity">
        </activity>

        <!-- 文件管理器Demo -->
        <activity android:name=".module.fm.FmMainActivity">
        </activity>
        <activity
            android:name=".module.fm.FmGifPlayerActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".module.fm.FmGifDrawableActivity">
        </activity>
        <activity android:name=".module.fm.FmRenameActivity">
        </activity>
        <activity android:name=".module.fm.FmJavaRenameActivity">
        </activity>

        <service android:name=".module.fm.service.FileMonitorService"/>
        <service
            android:name=".module.fm.service.FileScannerService"
            android:process=".fm"/>
    </application>

</manifest>