<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tustar.demo"
    android:versionCode="0006"
    android:versionName="1.0.0006">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!--  -->
    <uses-permission android:name="com.tustar.PROVIDER" />
    <uses-permission android:name="com.tustar.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".TuApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 主页 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Android应用开发进阶 -->
        <activity android:name=".ui.fl.FlMainActivity" />
        <activity android:name=".ui.fl.ch1.FlCh1Activity" />
        <activity android:name=".ui.fl.ch2.FlCh2Activity" />
        <activity android:name=".ui.fl.ch3.FlCh3Activity" />
        <activity android:name=".ui.fl.ch4.FlCh4Activity" /> <!-- Android开发艺术探索 -->
        <activity android:name=".ui.ryg.RygMainActivity" />
        <activity android:name=".ui.ryg.ch1.RygCh1Activity" />
        <activity android:name=".ui.ryg.ch2.RygCh2Activity" />
        <activity android:name=".ui.ryg.ch2.RygOneActivity" />
        <activity
            android:name=".ui.ryg.ch2.RygSecondActivity"
            android:process=":remote" />
        <activity
            android:name=".ui.ryg.ch2.RygThirdActivity"
            android:process="com.tustar.demo.remote" />
        <activity android:name=".ui.ryg.ch2.aidl.BookManagerActivity" />

        <service
            android:name=".ui.ryg.ch2.aidl.BookManagerService"
            android:process=":remote" />

        <activity android:name=".ui.ryg.ch2.provider.RygProviderActivity" />

        <provider
            android:name=".ui.ryg.ch2.provider.BookProvider"
            android:authorities="com.tustar.demo.ui.ryg.ch2.provider"
            android:permission="com.tustar.PROVIDER"
            android:process=":provider" />

        <activity android:name=".ui.ryg.ch2.messenger.MessengerActivity" />

        <service
            android:name=".ui.ryg.ch2.messenger.MessengerService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.tustar.MessengerService.launch" />
            </intent-filter>
        </service>

        <activity android:name=".ui.ryg.ch2.socket.TCPClientActivity" />

        <service
            android:name=".ui.ryg.ch2.socket.TCPServerService"
            android:process=":remote" />
        <service
            android:name=".ui.ryg.ch2.binderpool.BinderPoolService"
            android:process=":remote" />

        <activity android:name=".ui.ryg.ch2.binderpool.BinderPoolActivity" />
        <activity android:name=".ui.ryg.ch3.RygCh3Activity" />
        <activity android:name=".ui.ryg.ch3.RygCh3ViewMoveActivity" />
        <activity android:name=".ui.ryg.ch3.RygCh3OuterActivity" />
        <activity android:name=".ui.ryg.ch3.RygCh3InnerActivity" />
        <activity android:name=".ui.ryg.ch4.RygCh4WidthHeightActivity" />
        <activity android:name=".ui.ryg.ch4.RygCh4CircleViewActivity" />
        <activity android:name=".ui.ryg.ch4.RygCh4ExActivity" />
        <activity android:name=".ui.ryg.ch4.RygCh4Activity" />
        <activity
            android:name=".ui.ryg.ch5.RygCh5Activity"
            android:process=":remote" />
        <activity android:name=".ui.ryg.ch5.RygCh5NotificationActivity" />
        <activity android:name=".ui.ryg.ch5.RygCh5AppWidgetActivity" />
        <activity
            android:name=".ui.ryg.ch5.RygCh5CustomActivity"
            android:configChanges="screenLayout"
            android:exported="true" />
        <activity
            android:name=".ui.ryg.ch5.RygCh5RemoteViewsActivity"
            android:exported="true" />

        <receiver android:name=".ui.ryg.ch5.RygCh5AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.tustar.demo.ui.ryg.ch5.action.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ryg_ch5_app_widget_info" />
        </receiver>

        <activity android:name=".ui.ryg.ch6.RygCh6Activity" />
        <activity android:name=".ui.ryg.ch6.RygCh6DrawableActivity" />
        <activity android:name=".ui.ryg.ch7.RygCh7Activity" />
        <activity android:name=".ui.ryg.ch7.RygCh7ActivityAnimatorActivity" />
        <activity android:name=".ui.ryg.ch7.RygCh7ScaleButtonActivity" />
        <activity android:name=".ui.ryg.ch7.RygCh7LayoutAnimationActivity" />
        <activity android:name=".ui.ryg.ch8.RygCh8Activity" />
        <activity android:name=".ui.ryg.ch8.RygCh8DialogActivity" />
        <activity android:name=".ui.ryg.ch8.RygCh8FloatActivity" />
        <activity android:name=".ui.ryg.ch9.RygCh9Activity" />
        <activity android:name=".ui.ryg.ch10.RygCh10Activity" />
        <activity android:name=".ui.ryg.ch11.RygCh11Activity" />

        <service
            android:name=".ui.ryg.ch11.LocalIntentService"
            android:exported="false" />

        <activity android:name=".ui.ryg.ch12.RygCh12Activity" />
        <activity android:name=".ui.ryg.ch13.RygCh13Activity" />
        <activity android:name=".ui.ryg.ch14.RygCh14Activity" />
        <activity android:name=".ui.ryg.ch15.RygCh15Activity" /> <!-- 三国群英传 -->
        <activity android:name=".ui.qyz.QyzMainActivity" />
        <activity
            android:name=".ui.qyz.QyzPaletteActivity"
            android:label="@string/title_activity_palette" />
        <activity android:name=".ui.qyz.QyzTintingActivity" />
        <activity android:name=".ui.qyz.QyzClippingActivity" />
        <activity android:name=".ui.qyz.QyzElevationActivity" />
        <activity android:name=".ui.qyz.QyzAnimMainActivity" />
        <activity android:name=".ui.qyz.QyzAnimTransitionsActivity" />
        <activity android:name=".ui.qyz.QyzFlexibleListViewActivity" />
        <activity android:name=".ui.qyz.QyzOverScrollGridViewActivity" />
        <activity
            android:name=".ui.qyz.QyzRotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.qyz.QyzSurfaceViewActivity" />
        <activity android:name=".ui.qyz.QyzSvgActivity" />
        <activity android:name=".ui.qyz.QyzCustomWidgetActivity" />
        <activity android:name=".ui.qyz.QyzCustomWidgetShowActivity" />
        <activity android:name=".ui.qyz.dragview.QyzDragViewActivity" />
        <activity android:name=".ui.qyz.dragview.QyzDragViewShowActivity" />
        <activity android:name=".ui.qyz.dragview.QyzDragViewGroupActivity" /> <!-- 文件管理器 -->
        <activity android:name=".ui.fm.FmMainActivity" />
        <activity
            android:name=".ui.fm.FmGifPlayerActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".ui.fm.FmGifDrawableActivity" />
        <activity android:name=".ui.fm.FmRenameActivity" />
        <activity android:name=".ui.fm.FmJavaRenameActivity" />
        <activity android:name=".ui.fm.FmArcActivity" />

        <service android:name=".ui.fm.service.FileMonitorService" />
        <service
            android:name=".ui.fm.service.FileScannerService"
            android:process=".fm" />

        <activity android:name=".ui.fm.FmSpShareActivity" />
        <activity android:name=".ui.fm.FmOpenActivity" />
        <activity android:name=".ui.fm.FmSectionListViewActivity" />
        <activity android:name=".ui.fm.FmSectionGridViewActivity" />
        <activity android:name=".ui.fm.ItemListActivity" />
        <activity android:name=".ui.fm.ItemDetailActivity" />
        <activity android:name=".ui.fm.FmLongPhotoActivity" /> <!-- 时钟实例 -->
        <activity android:name=".ui.deskclock.DeskClockActivity" />

        <provider
            android:name=".ui.deskclock.provider.HistoryProvider"
            android:authorities="com.tustar.demo"
            android:exported="false" /> <!-- 计算器 -->
        <activity android:name=".ui.calculator.HistoryActivity" /> <!-- 信号监听 -->
        <activity android:name=".ui.signal.SignalActivity" />

        <service android:name=".ui.signal.PhoneStateService" /> <!-- 账号管理 -->
        <activity android:name=".ui.account.AccountActivity" /> <!-- Service实例 -->
        <activity android:name=".ui.service.ServiceActivity" />

        <service
            android:name=".ui.service.DemoService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.tustar.demo.AIDL" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.service.DemoIntentService"
            android:exported="false" /> <!-- Provider实例　 -->
        <activity android:name=".ui.provider.ProviderActivity" /> <!-- RecyclerView实例 -->
        <activity android:name=".ui.recycler.RecyclerViewActivity" /> <!-- 可拖动ListView实例 -->
        <activity android:name=".ui.dragsortlistview.DragSortListViewActivity" /> <!-- 动画模块 -->
        <activity android:name=".ui.anim.viewanim.ViewAnimActivity" />
        <activity android:name=".ui.anim.viewanim.HideActionBarActivity" /> <!-- Scroller实例 -->
        <activity android:name=".ui.scroller.ScrollerActivity" />
        <activity android:name=".ui.scroller.OnePointerDrawViewActivity" />
        <activity android:name=".ui.scroller.TwoPointerDrawViewActivity" />
        <activity android:name=".ui.scroller.HOverScrollViewActivity" />
        <activity android:name=".ui.scroller.HScrollViewActivity" />
        <activity android:name=".ui.scroller.other.OtherOnePointerDrawViewActivity" />
        <activity android:name=".ui.scroller.other.OtherTwoPointerDrawViewActivity" />
        <activity android:name=".ui.scroller.other.OtherHScrollViewActivity" />
        <activity android:name=".ui.scroller.other.OtherHOverScrollViewActivity" /> <!-- JetPack -->
        <activity android:name=".ui.jet.pagingroom.BookActivity" /> <!-- Loader实例 -->
        <activity android:name=".ui.loader.LoaderActivity" />


        <!-- Hencoder练习 -->
        <activity
            android:name=".ui.hencoder.ch1.PracticeDraw1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hencoder.ch2.PracticeDraw2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hencoder.ch3.PracticeDraw3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hencoder.ch4.PracticeDraw4Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>