<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tustar.fm">

    <application>
        <!-- 文件管理器 -->
        <activity android:name=".FmMainActivity" />
        <activity
            android:name=".FmGifPlayerActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".FmGifDrawableActivity" />
        <activity android:name=".FmRenameActivity" />
        <activity android:name=".FmJavaRenameActivity" />
        <activity android:name=".FmArcActivity" />

        <service android:name=".service.FileMonitorService" />
        <service
            android:name=".service.FileScannerService"
            android:process=".fm" />

        <activity android:name=".FmSpShareActivity" />
        <activity android:name=".FmOpenActivity" />
        <activity android:name=".FmSectionListViewActivity" />
        <activity android:name=".FmSectionGridViewActivity" />
        <activity android:name=".FmLongPhotoActivity" />
    </application>
</manifest>
